<h1>Marios Specialty Food Products</h1>
<h2>Super awesome company that is a local mom and pop owned that serves the community definetly not fake</h2>
  <p><%= link_to "See product list", products_path %></p>
