<h1>Marios Specialty Food Products</h1>
<h2>Super awesome company that is a local mom and pop owned that serves the community definetly not fake</h2>
  <p><%= link_to "See product list", products_path %></p>

  <h2>Three Most Recent Products</h3> 
<ul>
  <% @products.three_most_recent.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ul>

<h3>USA Made Products</h3>
<ul>
<% @products.usa.each do |product| %>
  <li><%= link_to product.name, product_path(product) %></li>
<% end %>
</ul>

<h3>Most Reviewed Product</h3>
<ul>
<% @products.most_reviews.each do |product| %>
  <li>
    <%= link_to product.name, product_path(product) %></h3>
  </li>
</ul>
<% end %>
