<div class="scopes"  
<h1>Super awesome company that is a local mom and pop owned that serves the community</h1>
<p><%= link_to "See product list", products_path %></p>
  <h2>Three Most Recent Products</h2> 
    <ul>
      <% @products.three_most_recent.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
    </ul>
<h3>USA Made Products</h3>
    <% if @products.usa.any? %>
<% @products.usa.each do |product| %>
  <ul>
    <li><%= link_to product.name, product_path(product) %></li>
  </ul>
<% end %>
<% else %>
<p>No USA Made Products</p>
<% end %>

<h3>Most Reviewed Product</h3>
<ul>
<% @products.most_reviews.each do |product| %>
  <li>
    <%= link_to product.name, product_path(product) %></h3>
  </li>
</ul>
<% end %>
</div>